body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-color: #eff3ff;
    height: 100%;
}
.detail-link{
    text-decoration: none;
}
.movie {
    width: 580px;
    background-color: white;
    margin-bottom: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid white;
    color: #adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.movie:hover{
    animation-name: hovering__movie;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
.movie__poster {
    position: relative;
    top: -50px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movie__data__title{
    margin: 0;
    font-weight: 300;
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
}
.movie__data__year,
.movie__data__rating,
.movie__data__runtime{
    margin: 0;
    font-weight: 300;
    margin-right: 10px;
    font-size: 14px;
}
.movie__data__summary{
    margin: 0;
    font-weight: 300;
    margin-right: 10px;
    font-size: 14px;
}
.movie__data__genres{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 5px 0px;
}
.movie__data__genres li{
    margin-right: 10px;
    font-size: 14px;
}

@keyframes hovering__movie {
    0% {
        border: 3px solid white;
    }
    100%{
        border: 3px solid gray;
            box-shadow: 0 18px 33px -5px rgba(50, 50, 93, 0.25),
      0 20px 40px -10px rgba(0, 0, 0, 0.3), 0 -6px 30px -6px rgba(0, 0, 0, 0.025);
    }
}